body {
    font-family: 'Inter', sans-serif;
    width: 500px; /* Set a fixed width for the popup */
}
.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
.tab-active {
    background-color: #3B82F6;
    color: white;
}
.tab-inactive {
    background-color: #E5E7EB;
    color: #4B5563;
}
.dark .tab-inactive {
    background-color: #374151;
    color: #D1D5DB;
}